@use './partials/variables' as *;

//***GENERICS***
body {
    font-family: "Rajdhani", sans-serif;
    background-color: $red;
}

img {
    max-width: 50%;
    object-fit: cover;
}

ul {
    list-style: none;
    padding: 0;
}

//***UTILITIES***
//container
.wrap {
    max-width: 1000px;
}

// colors
.grass {
    background-color: $green;
}

.ice,
.water {
    background-color: $blue;
}

.fire {
    background-color: $orange;
}

.bug,
.fighting,
.dark,
.steel,
.rock {
    background-color: $black;
}

.poison,
.psychic,
.ghost {
    background-color: $purple;
}

.normal {
    background-color: $pink;
}

.electric {
    background-color: $yellow;
}

.ground {
    background-color: $brown;
}

.dragon,
.flying {
    background-color: $dark-blue;
}

.fairy {
    background-color: $fuchsia;
}