// COLORS
$green: #55fe553a;
$brown: rgba(165, 42, 42, 0.421);
$red: #c52919;
$orange: #ff671668;
$yellow: rgba(255, 217, 0, 0.487);
$blue: #52d7ff32;
$dark-blue: rgba(69, 69, 255, 0.334);
$black: #92929233;
$purple: #7c227c3a;
$pink: #feb1b1aa;
$light-grey: #dcdfdd;
$dark-grey: #bcbdbd;
$fuchsia: #ff576b79;